html {
  height: 100%;
  background-color: #f7f4eb;
}

.title {
  font-size: 20px;
  font-family: monospace;
  font-style: italic;
  text-align: center;
}


.p1 {
  display: inline-block;
  height: 125px; 
  background: #6aa6d4; 
  padding-left: 20px; 
  padding-right: 20px; 
  font-family: monospace;
  margin-left: 200px;
  margin-right: 200px;
}

.p2 {
  font-family: monospace;
  margin-left: 200px;
  margin-right: 200px;
}

.dawg{
    font-family: monospace;
  text-decoration: underline;
  color: #6aa6d4;
  cursor: pointer;
}
.p3 {
  display: inline-block;
  height: 125px; 
  background: #6aa6d4; 
  padding-left: 20px; 
  padding-right: 20px; 
  font-family: monospace;
  margin-left: 200px;
  margin-right: 200px;
}

.p4 {
  font-family: monospace;
  margin-left: 200px;
  margin-right: 200px;
}

.apppics {
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}