html {
  height: 100%;
  width: 100%;
  background-color: #f7f4eb;
}

.title {
  font-size: 20px;
  font-family: monospace;
  font-style: italic;
  text-align: center;
}

.books {
  font-family: monospace;
  margin-left: 200px;
}

.misc {
  font-family: monospace;
  margin-left: 200px;
}
.goodreads {
  font-family: monospace;
  text-decoration: underline;
  color: #6aa6d4;
  cursor: pointer;
}